* {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.profile-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);
  margin: 10px;
}
.profile-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-card h3 {
  margin: 10px 0px;
}
.profile-card p {
  color: #666;
  font-size: 0.9em;
  line-height: 1.4;
}
#generateBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
